.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 358px;
  margin: 34px auto 37px;
}

@media screen and (max-width: 320px) {
  .popup__form {
    width: 238px;
  }
}
